html,
body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  height: 100vh;
  width: 100vw;
  font-size: 100%;
  color: #000;
  color: rgb(0, 0, 0);
  font-family: "FuturaBTMedium", sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  padding-left: 40px;
  font-family: "FuturaBTBold";
}
/* button */
.kb-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  font-style: inherit;
  font-variant: inherit;
  font-family: Muli-ExtraBold;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

header,
main,
footer {
  min-width: 980px;
  /*border: 2px solid #000;   */
  /* margin: 0 auto; */
}

/* header */
header {
  display: flex;
  flex-direction: row;
}

/* main */
main {
  flex: 1 1 auto;
  min-width: 980px;
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 3%;
}

.error {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.under {
  width: 100%;
  margin-left: 5%;
  /* max-height: 500px; */
  /* align-self: center; */
}

.under h2 {
  font-weight: 100;
  font-size: 2em;
}

.under p {
  width: 50%;
  padding-right: 20px;
}

/* .under p:last-child {
  padding: 20px 0;
} */
.big-note {
  font-family: "FuturaBTBold";
  font-size: 110px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: -0.55px;
  text-align: left;
  color: #020235;
  margin-top: 5%;
  margin-bottom: 2%;
}
.small-note {
  font-family: "FuturaBTMedium";
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0;
}
.top {
  width: 30%;
  min-height: 65%;
  /* background: #b97d2c;*/
  position: absolute;
  right: 5%;
  /*display: flex;*/
  flex-flow: column;
  align-items: center;
}
.card-u {
  position: absolute;
  width: 35%;
  right: 5%;
  min-height: 65%;
  overflow: auto;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 8px 10px 20px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
  padding: 0px 0px 0px;
}

/* list */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 16px;
  line-height: 1.8em;
  width: 55%;
}

ul li.ti:before {
  font-family: "themify";
  content: "\e600";
  height: 1px;
  left: 0;
  position: relative;
  bottom: 2px;
  width: 2px;
  font-size: 12px;
  margin-right: 20px;
}

span[class*="ti-"] {
  font-weight: 700;
}

/* author content */

.author-cont {
  order: 0;
  flex: 0 1 auto;
  margin: 5px auto;
}

.author-cont p {
  text-align: center;
}

.author-cont ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.author-cont ul li {
  width: 70%;
  padding: 5px;
}

.author-cont ul li a {
  text-decoration: none;
}

.author-cont ul li a i {
  padding-right: 2px;
}

.tint {
  color: #303841;
  font-weight: 700;
}

/* form */
form {
  order: 1;
  flex: 0 1 auto;
}

fieldset {
  margin-top: 20%;
  background: #0202358c;
  border: 3px outset #020235;
}

legend {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}
.dot {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: #51156c;
  border-radius: 50%;
  display: inline-block;
}

.form-control {
  width: 100%;
  padding: 5px 6px 4px 5px;
  /* line-height: 3em; */
}
.form-container {
  align-items: center;
}

.form-control2 input {
  width: 80%;
  padding: 10px;
  font-size: 16px;

  color: #000 !important;
}
.form-control2 {
  margin-left: 10%;
  background-color: #ffffff;
  width: 80%;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-appearance: none;
  color: #2c2c2c;
  outline: 0;
  height: 50px;
  border-radius: 10px;
  padding: 9px 12px;
  line-height: normal;
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle;
  min-height: 35px;
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: background 0.2s linear 0s;
  transition: background 0.2s linear 0s;
}
.form-control2:hover {
  border-color: #020235;
  outline: none;
}
.input-field_helper {
  font-size: 0.9rem;
  position: absolute;
  opacity: 0;
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  top: 30px;
  font-weight: 100;
  color: rgba(10, 46, 101, 0.5);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  left: 60px;
}
input[type="text"]:focus + .input-field_helper {
  color: #020235;
  opacity: 1 !important;
}
input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::placeholder {
  color: transparent;
}
input[type="text"]:focus {
  border-color: #020235;
  outline: none;
  background-color: transparent;
  -webkit-transition: border 0.3s ease-in;
  transition: border 0.3s ease-in;
  box-shadow: none;
}
#logo {
  width: 70px;
  height: 73px;
}
#header-image {
  flex: 1;
  /*flex: 0 1 90%;*/
  margin-left: 6.5%;
}
#header-text {
  margin-right: 15%;
}

/* #fullname {
  transition: all 0.5s ease;
  background: #fff url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png)
  no-repeat;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(119, 119, 119);
  margin: 0 0 10px;
  padding: 10px 10px 12px 40px;
  background-position: 5px 9px;
} */

button[value="submit"] {
  box-shadow: 0px 6px 6.5px 0.5px rgba(0, 0, 0, 0.23);
  background-color: #020235;
  display: block;
  font-weight: 700;
  width: 60%;
}

button[type="submit"]:hover {
  color: rgb(248, 223, 169);
  border: 1px solid transparent !important;
}

/* img {
    width: 100%;
    max-height: 120px;
} */

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0 7px;
  width: 94%;
  padding: 5px;
  /* margin: 0 auto; */
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
}

.btn-input {
  border-radius: 5px;

  width: 50%;
  margin-left: 20%;
  color: rgb(255, 255, 255);
  background-color: #020235;
  border-color: rgb(29, 129, 209);
  font-family: Muli-LightItalic;
}

.change,
.delete {
  padding: 5px;
}

.delete {
  background: red;
  border-color: red;
}

.hide {
  display: none;
}

/* display picture section */

.dp-container > div {
  max-width: 400px;
}

.img-dp {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

img#dp_result {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border: solid 3px #020235;
  margin: 25px auto;
}

.arrow-back {
  position: absolute;
  top: 33px;
  left: 80%;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  color: #020235;
}

/* download btn */
.download-dp:hover {
  cursor: pointer;
}
.download-dp {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none;
  font: menu;
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  text-align: center;
  width: 200px;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  border: none;
  outline: none;
  box-shadow: 0px 6px 6.5px 0.5px rgba(0, 0, 0, 0.23);
  background-color: #020235;
  color: #fff;
}
.share {
  font-family: "FuturaBTBold";
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.23;
  letter-spacing: 1.26px;
  text-align: center;
  color: #000000;
}
.social-media-handles {
  display: flex;
  font-family: "FuturaBTMedium";
  font-size: 20.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.05;
  letter-spacing: 0.92px;
  text-align: center;
  color: #000000;
  justify-content: space-around;
}
.social-media-handles > div > a {
  text-decoration: none;
  color: inherit;
}
.social-media-handles > div > a:hover {
  text-decoration: none;
  color: #020235;
}

/* footer */
footer {
  flex: 0 1 auto;
  align-self: center;
}

footer p {
  font-size: 21.5px;
  text-align: center;
}

footer .social {
  color: #03a9f4;
  text-decoration: none;
}
.under-title {
  font-size: 45px;
  color: #020235;
  font-family: FuturaBTBold;
}
.sub-title {
  font-weight: 100;
}
.cropit-preview {
  background-size: cover;
  border: 1px #ccc;
  border: dashed 1px;
  border-radius: 3px;
  margin-top: 7px;
  width: 248px;
  margin-left: 20%;
  height: 250px;
}

.cropit-preview-image-container {
  cursor: move;
}

.image-size-label {
  margin-top: 10px;
  color: #000;
  margin-left: 20%;
}

input {
  display: block;
}

button[type="submit"] {
  margin-top: 10px;
}

#result {
  margin-top: 10px;
  width: 900px;
}

#result-data {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

/******************  RESPONSIVENESS *********************/

@media screen and (max-width: 800px) {
  html,
  body {
    font-size: 12px;
    margin: 0;
    padding: 0 0;
  }

  header,
  main,
  footer,
  .under p,
  ul li {
    width: 100%;
    min-width: 100%;
  }

  main {
    min-width: 100%;
    height: auto;
    flex-flow: row wrap;
    overflow-y: scroll;
  }
  .btn-input {
    width: 80%;
  }

  .hidden {
    display: none;
  }
  .under,
  .card-u {
    position: relative;
    width: 70%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
  }
  .under-title {
    font-size: 40px;
    color: #020235;
  }
  .form-control2 {
    width: 100%;
  }

  .top {
    padding: 25px 0;
    margin-top: 12px;
  }

  h1,
  footer p {
    text-align: center;
    display: block;
    padding-left: 30px;
  }

  .author-cont {
    order: 1;
    padding: 0 15px;
  }

  form {
    order: 0;
    width: 80%;
  }

  .author-cont p,
  .author-cont ul li a {
    text-align: center;
  }
  .cropit-preview {
    width: 260px;
    height: 263px;
    margin-left: 5%;
  }
  .arrow-back {
    top: 16px;
    left: 70%;
  }
}

@media screen and (max-width: 400px) {
  body,
  html,
  p,
  a,
  ul li,
  .under p {
    font-size: 13px;
    line-height: 1.5;
  }
  .hidden {
    display: none;
  }
  .big-note {
    font-size: 28px !important;
  }
  .cropit-preview {
    width: 225px;
    height: 228px;
    margin-left: 5%;
  }
  .under p {
    margin-left: 2%;
    text-align: center;
    margin-right: 4%;
  }

  h1 {
    font-size: 18px;
  }

  .under h2 {
    font-size: 1.5em;
  }

  .under p:last-child {
    padding: 12px 0;
    line-height: 1.5;
  }

  .arrow-back {
    top: 5px;
    left: 70%;
  }
}
.name {
  font-family: "Caveat", cursive;
}
/* Ahimsa */
/* regular version */
@font-face {
  font-family: "AhimsaReg";
  src: url("../fonts/Ahimsa/Ahimsa\ Regular.ttf");
  font-weight: normal;
}
/* medium version */
@font-face {
  font-family: "AhimsaMed";
  src: url("../fonts/Ahimsa/Ahimsa\ Medium.ttf");
  font-weight: 500;
}
/* bold version */
@font-face {
  font-family: "Ahimsa";
  src: url("../fonts/Ahimsa/Ahimsa_Bold.ttf");
  font-weight: bold;
}

/* Montserrat */
/* Bold */
/* @font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
} */

/* Muli */
/* Bold */
@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../fonts/Muli/Muli-ExtraBold.ttf");
}
/* light Italic */
@font-face {
  font-family: "Muli-LightItalic";
  src: url("../fonts/Muli/Muli-LightItalic.ttf");
}

/* Muli */
/* Bold */
@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../fonts/Muli/Muli-ExtraBold.ttf");
}
/* light Italic */
@font-face {
  font-family: "Muli-LightItalic";
  src: url("../fonts/Muli/Muli-LightItalic.ttf");
}

/* Futura */
/* Bold */
@font-face {
  font-family: "FuturaBTBold";
  src: url("../fonts/Futura/FuturaBTBold.ttf");
}
/* regular */
@font-face {
  font-family: "FuturaBTMedium";
  src: url("../fonts/Futura/FuturaBTMedium.ttf");
}

/* SmoothStone */
/* Regular */
@font-face {
  font-family: "SmoothStone-Regular";
  src: url("../fonts/SmoothStone/SmoothStone-Regular.ttf");
}
